.div_naming-by-BEM{
    background-color: black;
}
.heading-BEM{
    background-color: blueviolet;
    text-align: center;
}
.naming_rules{
    background-color: aqua;
    font-size: medium;
}